
  .h1{
    color:#ff0000;
    background-color: grey;
 text-align: center;
  }
.h2{
 color:#0000ff;
    background-color:#add8e6;
    text-align: center;
}
.class{
  text-align: center;
  background-color: antiquewhite;
  
}
.weather{
  text-align: center;
  background-color: antiquewhite;
}
.d{
  text-align: center;
}
.center{
  text-align: center;
  background-color:#add8e6;
  margin-left:auto;
     margin-right:auto; 
}.form{
       
  
  padding: 21px;    
 border-radius: 5px;    
 background-color: #f2f2f2;      
text-align:center;
width:auto;
margin: auto;
}